title{
    border: 2px solid black;
    margin: 20px 50px;
}
p{
    border: 4px solid red;
    margin: 10px 20px;
}
ul{
    border: 10px solid blueviolet;
    margin: 20px 50px;
}
li{
    border: 2px solid green;
    margin: 5px 5px;
}