.game-card {
    position: relative;
    width: 300px;
    background: #000000;
    border-radius: 8px;
    overflow: hidden;
    color: #e6e6e6;
    font-family: "Orbitron", sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 45px rgba(253, 24, 24, 0.851);
}

.game-card img,
.game-info {
    position: relative;
    z-index: 2;
}

.game-cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #f32121;
}

.game-info {
    padding: 16px;
}

.game-title {
    font-size: 22px;
    margin: 0;
    color: #ff0000;
    text-shadow: 0 0 10px rgba(228, 68, 31, 0.6);
}

.game-genre {
    margin: 6px 0 12px;
    color: #a0a0a0;
    font-size: 14px;
}

.game-stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 20px;
}

.stat-card {
    background: rgba(0, 255, 255, 0.07);
    border: 1px solid rgba(239, 30, 30, 0.734);
    border-radius: 10px;
    padding: 10px 6px;
    text-align: center;
    backdrop-filter: blur(4px);
    transition: 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.1);
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 15px rgb(255, 36, 36);
}

.stat-card span {
    font-size: 20px;
    display: block;
    margin-bottom: 6px;
}

.stat-card p {
    margin: 0;
    font-size: 15px;
    color :#f32121;
    font-weight: bold;
    text-shadow: 0 0 6px rgba(255, 35, 35, 0.659);
}