* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 30px;
        }
        .container {
            background-color: bisque;
            display: flex;
            width: 100vw;
            height: 100vh;
        }
        header {
            position: sticky;
            top: 0;
            background-color: rgb(242, 53, 53);
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 70px;
        }
        .left {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(220, 182, 129);
            flex-grow: 1;
            text-align: center;
        }
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 3;
            text-align: center;
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(63, 177, 63);
            flex-grow: 1;
            text-align: center;
        }
        footer {
            background-color: rgb(80, 183, 183);
            position: fixed;
            bottom: 0;
            width: 100vw;
            text-align: center;
            min-height: 70px;
        }
        @media (max-width: 768px) {
            .container {
                background-color: rgb(255, 255, 255);
                display: flex;
                flex-direction: column;
            }
            .left,
            .center,
            .right {
                flex-grow: 1;
            }
        }
        @media (min-width: 769px) and (max-width: 1024px) {
            .container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .center {
                order: -1;
                width: 100vw;
            }
        }