#root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 40%, rgba(110, 102, 102, 1) 100%);
   
}
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    padding: 20px;
}