@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
  font-family: "Quicksand", sans-serif;
}

body {
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  align-items: center; 
  background: linear-gradient(to right, #ffffff, #565367);
  border-bottom: solid 1px #565367;
}
.nav-bar-left {
  margin-left: 30px;
}
.manshop {
  font-family: "Playfair Display", serif;
}
.abbigliamento {
  font-family: "Playfair Display", serif;
}
.nav-bar-center a {
  color: black;
  margin: 10px;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-decoration: none;
}
.nav-bar-center a:hover {
  color: #ffffff;
}

.nav-bar-right {
  margin-right: 70px;
}
.cart {
  color: #fff;
}
